#![no_main]

use moosync_edk::{
    ExtensionProviderScope, RequestedSearchResultRequest, SearchResult,
    api::{
        self, Accounts, ContextMenu, DatabaseEvents, Extension, PlayerEvents, PreferenceEvents,
        Provider,
    },
    handler::register_extension,
    info,
};

struct $struct_name;

impl Extension for $struct_name {}
impl Accounts for $struct_name {}
impl DatabaseEvents for $struct_name {}
impl PlayerEvents for $struct_name {}
impl PreferenceEvents for $struct_name {}
impl ContextMenu for $struct_name {}

impl Provider for $struct_name {
    fn get_provider_scopes(&self) -> api::MoosyncResult<Vec<ExtensionProviderScope>> {
        Ok(vec![ExtensionProviderScope::Search])
    }

    fn search(&self, req: RequestedSearchResultRequest) -> api::MoosyncResult<SearchResult> {
        info!("Search requested for query: {}", req.query);
        Ok(SearchResult {
            songs: vec![],
            artists: vec![],
            playlists: vec![],
            albums: vec![],
            genres: vec![],
        })
    }
}

#[unsafe(no_mangle)]
pub extern "C" fn init() {
    info!("Initializing $display_name");
    register_extension(Box::new($struct_name)).unwrap();
    info!("Initialized $display_name");
}
