common --@rules_rust//rust/toolchain/channel=nightly
coverage --experimental_fetch_all_coverage_outputs
build --aspects=@rules_rust//rust:defs.bzl%rust_clippy_aspect
build --output_groups=+clippy_checks
build --@rules_rust//rust/settings:rustc_output_diagnostics=true --output_groups=+rust_lib_rustc_output,+rust_metadata_rustc_output
common --experimental_isolated_extension_usages
common --@aspect_rules_ts//ts:default_to_tsc_transpiler

try-import %workspace%/.bazelrc.user
try-import %workspace%/.bazelrc.local