common --@rules_rust//rust/toolchain/channel=nightly
coverage --experimental_fetch_all_coverage_outputs
build --aspects=@rules_rust//rust:defs.bzl%rust_clippy_aspect
build --output_groups=+clippy_checks
build --@rules_rust//rust/settings:rustc_output_diagnostics=true --output_groups=+rust_lib_rustc_output,+rust_metadata_rustc_output
common --enable_platform_specific_config
common --experimental_isolated_extension_usages
common --@aspect_rules_ts//ts:default_to_tsc_transpiler
common:linux --repo_env=BAZEL_CONLYOPTS="-std=gnu17"
common:linux --incompatible_strict_action_env

try-import %workspace%/.bazelrc.user
try-import %workspace%/.bazelrc.local