load("@extensions_sdk//:defs.bzl", "rust_extension")

package(default_visibility = ["//visibility:public"])

rust_extension(
    name = "$name",
    srcs = ["src/lib.rs"],
    package_name = "$package_name",
    display_name = "$display_name",
    version = "0.0.1",
)
